{{ form_start(form) }}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form_label(form.beginAt, 'Début') }}</label>
        <div class="col-sm-10">
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                {{ form_widget(form.beginAt) }}
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form_label(form.endAt, 'Fin') }}</label>
        <div class="col-sm-10">
            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                {{ form_widget(form.endAt) }}
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text">
                        <i class="far fa-calendar-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form_label(form.title, 'Intitulé de la session') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.title) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form_label(form.formation, 'Formation') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.formation) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form_label(form.formateurs, 'Formateurs sur la session') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.formateurs) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form_label(form.participants, 'Assistantes maternelles') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.participants) }}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form_label(form.parentsFacilitateurs, 'Parents faciliateurs des assistantes maternelles') }}</label>
        <div class="col-sm-10">
            {{ form_widget(form.parentsFacilitateurs) }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
{{ form_end(form) }}