{% extends 'base.html.twig' %}

{% block title %}SessionFormation{% endblock %}

{% block body %}
    <h1>SessionFormation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session_formation.id }}</td>
            </tr>
            <tr>
                <th>BeginAt</th>
                <td>{{ session_formation.beginAt ? session_formation.beginAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ session_formation.endAt ? session_formation.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ session_formation.title }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ session_formation.createdAt ? session_formation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ session_formation.updatedAt ? session_formation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('session_formation_index') }}">back to list</a>

    <a href="{{ path('session_formation_edit', {'id': session_formation.id}) }}">edit</a>

    {{ include('session_formation/_delete_form.html.twig') }}
{% endblock %}
