{% extends 'base.html.twig' %}

{% block title %} Table des formations {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{{ path('app_homepage') }}">
                <img src="{{ asset('img/logo-header-petit.png') }}" width="auto" height="30" alt="logo">
            </a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if formations is iterable %}
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0" method="POST">
                            <input class="form-control mr-sm-2" type="text" placeholder="Rechercher une formation" aria-label="recherche" name="formation">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_formations', {'id': 'all'}) }}">Liste des formations</a>
                    </li>
                {% endif %}
            </ul>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('app_account') }}">
                        <i class="fas fa-user"></i> Mon compte
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                        <i class="fas fa-power-off"></i> Se déconnecter
                    </a>
                </div>
            </div>
        </div>
    </nav>

    {% if formations is iterable %}

        <div class="links">
            <h3>Filtrer selon une catégorie :</h3>
            <a href="{{ path('app_formations', {'id': 'ThemeA'}) }}" class="btn effect btn1">ThemeA</a>
            <a href="{{ path('app_formations', {'id': 'ThemeB'}) }}" class="btn effect btn1">ThemeB</a>
            <a href="{{ path('app_formations', {'id': 'ThemeC'}) }}" class="btn effect btn1">ThemeC</a>
            <a href="{{ path('app_formations', {'id': 'ThemeD'}) }}" class="btn effect btn1">ThemeD</a>
            <a href="{{ path('app_formations', {'id': 'ThemeE'}) }}" class="btn effect btn1">ThemeE</a>
            <a href="{{ path('app_formations', {'id': 'ThemeF'}) }}" class="btn effect btn1">ThemeF</a>
        </div>
        <div class="links">
            <a href="{{ path('app_formations', {'id': 'trame'}) }}" class="btn effect1 btn1">Trame non réalisée</a>
            <a href="{{ path('app_formations', {'id': 'iperia'}) }}" class="btn effect1 btn1">Trame non validée</a>
            <a href="{{ path('app_formations', {'id': 'rouge'}) }}" class="btn effect2 btn1"><i class="fas fa-exclamation-triangle"></i> Trame + Iperia</a>
        </div>

        <hr>
        <div class="container-fluid">
            <div class="text-center">
                <p class="text-uppercase badge badge-secondary">Sélectionnez une formation</p>
            </div>

            {% for row in formations|batch(4) %}
                <div class="card-deck">
                    {% for column in row %}
                        <div class="card hover">
                            <div class="card-body {% if column.trameARealiser and column.trameValiderIperia %} valide  {% elseif not column.trameARealiser and not column.trameValiderIperia%} Nvalide  {% else  %} Pvalide {% endif %}">
                                <div class="media">
                                    <div class="media-body">
                                        <a href="{{ path('app_formations', {'id': column.id}) }}" class="stretched-link"></a>
                                        <h5 class="mt-0 mb-1">{{ column.titre }}</h5>
                                        <h6 style="margin-top: 10px" class="card-subtitle mb-2 text-muted">Référence : {{ column.reference }}</h6>
                                    </div>
                                    <i class="fas fa-file fa-3x"></i></h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>
            {% endfor %}
        </div>
    {% else %}
        <hr>
        <div class="container formations">
            <h1>Information sur la formation : <b>{{ formations.titre }}</b></h1>
            <p>Référence : {{ formations.reference }}</p>
            <hr>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Durée :</b> {{ formations.duree }}h</li>
                <li class="list-group-item"><b>Pédagogie :</b> {{ formations.pedagogie }}</li>
                <li class="list-group-item"><b>Public visé :</b> {{ formations.publicVise }}</li>
                <li class="list-group-item">
                    <b>Formateur :</b>
                    {% for formateur in formations.formateurs %}
                        {{ formateur.nom }} {{ formateur.prenom }}
                    {% endfor %}
                    Hawk Stewart / Michel Bouk
                </li>
                <li class="list-group-item"><b>Prérequis :</b> {{ formations.prerequis }}</li>
                <li class="list-group-item"><b>Lieu :</b> {{ formations.lieu }}</li>
                {% if formations.cpf %}<li class="list-group-item"><b>CPF :</b>Oui : {{ formations.numerocpf }}</li>{% endif %}
            </ul>

            <hr>

            <ul class="list-group list-group-flush">
                <li class="list-group-item {% if formations.trameARealiser and formations.trameValiderIperia %} valide  {% elseif not formations.trameARealiser and not formations.trameValiderIperia%} Nvalide  {% else  %} Pvalide {% endif %}">
                    <b>Trame à réaliser :</b>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="trameOptions" id="trameOui" value="trameOui" {% if formations.trameARealiser %} checked {% endif %}>
                        <label class="form-check-label" for="trameOui">Oui</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="trameOptions" id="trameNon" value="trameNon" {% if not formations.trameARealiser %} checked {% endif %}>
                        <label class="form-check-label" for="trameNon">Non</label>
                    </div>
                </li>
                <li class="list-group-item {% if formations.trameARealiser and formations.trameValiderIperia %} valide  {% elseif not formations.trameARealiser and not formations.trameValiderIperia%} Nvalide  {% else  %} Pvalide {% endif %}">
                    <b>Ipéria validé :</b>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="iperiaOptions" id="iperiaOui" value="iperiaOui" {% if formations.trameValiderIperia %} checked {% endif %}>
                        <label class="form-check-label" for="iperiaOui">Oui</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="iperiaOptions" id="iperiaNon" value="iperiaNon" {% if not formations.trameValiderIperia %} checked {% endif %}>
                        <label class="form-check-label" for="iperiaNon">Non</label>
                    </div>
                </li>
            </ul>
            {{ formations.descriptif }}
        </div>
    {% endif %}
    <hr>
{% endblock %}