{% extends 'base.html.twig' %}

{% block title %} Table des formateurs {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{{ path('app_formateurs', {'id': 'all'}) }}">Liste des formateurs</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_homepage') }}">Tableau de bord</a>
                </li>
                {% if formateurs is iterable %}
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" method="POST">
                        <input class="form-control mr-sm-2" type="text" placeholder="Rechercher un formateur" aria-label="recherche" name="nom">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>
                </li>
                {% endif %}
            </ul>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('app_account') }}">
                        <i class="fas fa-user"></i> Mon compte
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                        <i class="fas fa-power-off"></i> Se déconnecter
                    </a>
                </div>
            </div>
        </div>
    </nav>
    {% if formateurs is iterable %}
        <hr>
        <table class="table table-bordered">
            <tbody>
            <tr>
                {% for formateur in formateurs %}
                {% set counter = ( counter | default(0) ) + 1 %}
                <td class="hover">
                    <div class="listF" style="cursor: pointer" onclick="window.location.href='{{ path('app_formateurs', {'id': formateur.id}) }}'">
                        <h3><i class="far fa-id-card fa-3x"></i></h3>
                        <h4>Nom:</h4><p>{{ formateur.nom }}</p>
                        <h4>Prénom:</h4><p>{{ formateur.prenom }}</p>
                        <h4>Née le:</h4><p>{{ formateur.dateDeNaissance|date("d/m/Y") }}</p>
                    </div>
                </td>
                {% if counter % 6 == 0 %}</tr><tr>{% endif %}
                {% endfor %}
            </tr>
            </tbody>
        </table>
    {% else %}
        <hr>
        <div class="container">
            <h1>Information sur le formateur : <b>{{ formateurs.prenom }} {{ formateurs.nom }}</b></h1>
            Née le {{ formateurs.dateDeNaissance|date('d F Y') }}
            <hr>
            <div class="row mb">
                <div class="col">
                   <b>Adresse e-mail :</b> {{ formateurs.mail }}
                </div>
                <div class="col">
                   <b>Téléphone :</b> {{ formateurs.telephone }}
                </div>
            </div>
            <div class="row mb">
                <div class="col">
                    <b>Meilleur diplôme :</b> {{ formateurs.meilleurDiplome }}
                </div>
                <div class="col">
                    {% if formateurs.salarie == 1 %}
                        <p><b>Salarié</b></p>
                    {% else %}
                        <p><b>Pas salarié</b></p>
                    {% endif %}
                    <!--
                    <p><b>Salarié</b>:
                        <label for="oui">oui</label>
                        <input type="checkbox" id="oui" name="oui" checked>
                        <label for="non">non</label>
                        <input type="checkbox" id="non" name="non">
                    </p>
                    <p><b>Salarié</b>:
                        <label for="oui">oui</label>
                        <input type="checkbox" id="oui" name="oui">
                        <label for="non">non</label>
                        <input type="checkbox" id="non" name="non" checked>
                    </p>
                    -->
                </div>
            </div>
            <hr>
            <h2><b>Zone d'intervention du formateur</b></h2>
            <div id="googleMap" style="width:100%;height:400px;"></div>
            <script>
                function myMap() {
                    var mapProp= {
                        center:new google.maps.LatLng(46.1667,-1.15),
                        zoom:10,
                    };
                    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
                }
            </script>
            <hr>
            <h2><b>Fonctions d'intervention du formateur</b></h2>
            {{ formateurs.typeFormations }}
            <p><b>Fonction actuelle :</b> {{ formateurs.fonctionActuelle }}</p>
            <hr>
            <h2><b>Planning du formateur</b></h2>
            <p>Pour faire le planning, voir ce lien: https://www.youtube.com/watch?v=_lH9ZwAsvWM</p>
        </div>
    {% endif %}
    <hr>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALYDcMOzzAU969z2ic1siiuODCpq92guw&callback=myMap"></script>
{% endblock %}