{% extends 'base.html.twig' %}

{% block title %} Tableau de bord {% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="display-4">Bienvenue sur le tableau de bord!</h1>
                <p class="lead">Vous êtes actuellement connecté en tant que
                    <span class="badge badge-success">
                {% if app.user.username == "admin" %}
                    administrateur
                {% elseif app.user.username == "visu" %}
                    visualisateur
                {% elseif app.user.username == "user" %}
                    utilisateur
                {% elseif app.user.username == "formateur" %}
                    formateur
                {% endif %}
            </span>
                </p>
            </div>
            <div class="col col-lg-2">
                <a href="{{ path('app_logout') }}">
                    <button type="button" class="btn btn-labeled btn-danger">
                        <span class="btn-label"><i class="fas fa-power-off"></i></span>
                        Se déconnecter
                    </button>
                </a>
            </div>
        </div>
        <hr class="my-4">
        <div class="container" style="display:table">
            <div class="box">
                <a class="stretched-link" href="{{ path('app_formateurs', {'id': 'all'}) }}"></a>
                <div class="icon">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <h1>Formateurs</h1>
                </div>
                <div class="content">
                    <h3>Accéder aux formateurs</h3>
                    <p>Cliquez pour accéder à la liste de tous les formateurs, leur planning, leurs formations et d'autres informations les concernant.</p>
                </div>
            </div>
            <div class="box">
                <a class="stretched-link" href="{{ path('app_formations', {'id': 'all'}) }}"></a>
                <div class="icon">
                    <i class="fas fa-book-open"></i>
                    <h1>Formations</h1>
                </div>
                <div class="content">
                    <h3>Accéder aux formations</h3>
                    <p>Cliquez pour accéder à la liste de toutes les formations disponibles.</p>
                </div>
            </div>
            <div class="box">
                <a class="stretched-link" href="{{ path('app_assmat', {'id': 'all'}) }}"></a>
                <div class="icon">
                    <i class="fas fa-users"></i>
                    <h1 class="text-center">Assistantes maternelles</h1>
                </div>
                <div class="content">
                    <h3>Accéder aux assistantes maternelles</h3>
                    <p>Cliquez pour accéder à la liste des assistantes maternelles et trouver toutes les informations les concernants</p>
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN_PLANNING') %}
            <div class="box">
                <a class="stretched-link" href="{{ path('session_formation_index') }}"></a>
                <div class="icon">
                    <i class="fas fa-edit"></i>
                    <h1 class="text-center">Sessions de formation</h1>
                </div>
                <div class="content">
                    <h3>Gérer les sessions de formation</h3>
                    <p>Cliquez pour accéder à la gestion des sessions de formation, des plannings, des participants, etc.</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>
{% endblock %}