{% extends 'base.html.twig' %}

{% block title %}Formateur{% endblock %}

{% block body %}
    <h1>Formateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ formateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ formateur.prenom }}</td>
            </tr>
            <tr>
                <th>Date_de_naissance</th>
                <td>{{ formateur.dateDeNaissance ? formateur.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ formateur.mail }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ formateur.telephone }}</td>
            </tr>
            <tr>
                <th>Meilleur_diplome</th>
                <td>{{ formateur.meilleurDiplome }}</td>
            </tr>
            <tr>
                <th>Salarie</th>
                <td>{{ formateur.salarie ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Fonction_actuelle</th>
                <td>{{ formateur.fonctionActuelle }}</td>
            </tr>
            <tr>
                <th>Domaine_expertise</th>
                <td>{{ formateur.domaineExpertise }}</td>
            </tr>
            <tr>
                <th>Mode_acquisition</th>
                <td>{{ formateur.modeAcquisition }}</td>
            </tr>
            <tr>
                <th>Type_formations</th>
                <td>{{ formateur.typeFormations ? formateur.typeFormations|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Zone_execution</th>
                <td>{{ formateur.zoneExecution ? formateur.zoneExecution|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Formation_iperia</th>
                <td>{{ formateur.formationIperia ? formateur.formationIperia|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ formateur.createdAt ? formateur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ formateur.updatedAt ? formateur.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('formateur_index') }}">back to list</a>

    <a href="{{ path('formateur_edit', {'id': formateur.id}) }}">edit</a>

    {{ include('formateur/_delete_form.html.twig') }}
{% endblock %}
